<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Liber</title>
    
    <!--CSS import-->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Roboto&display=swap" rel="stylesheet">

</head>

<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>

<!--Function to show table with books-->
<script>
    var book;
    async function createTableFromJSON() {
        const myBooks = await fetch('https://8000-a9dbbf8d-6cd6-4910-996f-ed25785fa785.ws-eu03.gitpod.io/books')
            .then(res => res.json())
        
        var col = ['id','title', 'author'];

        // creating table
        var table = document.createElement("table");
        table.id = "mtable"; 

        var tr = table.insertRow(-1);

        // creating header
        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // adding json to table rows
        for (var i = 0; i < myBooks.length; i++) {

            tr = table.insertRow(-1); 

            tr.addEventListener('click', pickDataFromRow(myBooks[i]));

            for (var j = 0; j < col.length; j++) {
                var newCell = tr.insertCell(-1);
                newCell.innerHTML = myBooks[i][col[j]]; 
            }  
        }         

        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }

    const pickDataFromRow = (row) => (event) => {
        // save data in a object
        book = row;
        console.log(book);
        var editButton = document.getElementById('editButton') || document.createElement('a')
        editButton.id = 'editButton'
        editButton.href = '/edit?id=' + row.id + '&author=' + row.author + '&title=' + row.title
        editButton.innerHTML = "Edit"

        var divContainer = document.getElementById("buttons");
        divContainer.appendChild(editButton);
    }

    function deleteBook() {
        // pick id from book to delete
        var bookToDelete = book.id;

        fetch(`https://8000-a9dbbf8d-6cd6-4910-996f-ed25785fa785.ws-eu03.gitpod.io/delete/${bookToDelete}`, {
            method: 'DELETE',
        })
        .then(res => res.text()) // or res.json()
        .then(res => {
            console.log(res)
        })
    }
</script>

<body>
    <div class="container header">
        <img src="logo.jfif" alt="liber logo: book open" width="150" height="100">
        <h1 class="logo">Liber</h1>
        <h3>Your online personal library</h3>
    </div>
        <div class="container header-buttons">
            <input type="button" onclick="createTableFromJSON()" value="Display Books" >
            <input type="button" onclick="document.location='registerBookPage.html'"value="Add Book" />
            <input type="button" onclick="deleteBook()" value="Delete" />
        </div>
    <p id="showData"></p>

</body>

</html>