
.header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo {
    font-family: 'Expletus Sans', cursive;
    font-size: 70px;
}

.header-buttons {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.slogan {
    margin-top: 20px;
    margin-bottom: 40px;
}

.table {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 70% !important;
}
.table th {
    background-color: F2F2F2;
    text-align: center;
}
.table tr {
    cursor: pointer;
}

.form-group {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.update-form {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.form-title {
    margin-bottom: 20px;
}


footer {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}